<% provide(:title, "About") %>
<h1>About</h1>
<p class='aboutparagraph'>Solar Vision is comprised of four freshman from UNH and one graduate from 
Northeastern. During the day of the Space Apps challenge, we met and formed our team.
Within a day we had a working website which can be used to calculate a solar arrays
efficiency based off many external factors.
</p>
<p class='aboutparagraph'>We wanted to accomplish many things within this 
website. This includes the following:
</p>
<p class='aboutparagraph'>
    <ul>
        <li>This website is supposed to help the average solar 
        panel owner to understand how many appliances he can use at any given 
        moment: 
        simplicity is key.</li>
        <li>It suggests optimal times throughout the day for 
        common appliances.</li>
        <li>Users that are “off the grid” can maximize their 
        panels’ efficiency.</li>
        <li>Weather data and trends are used to estimate the 
        energy that will be produced during that day.</li>
    </ul>
</p>
<p class='autobiography'>For this prototype, sunrise and sunset data was 
collected from Hawaii to determine the sun's intensity at a given time based off
of the users time.
</p>
<p class='autobiogrphy'>In the future our plan is to get a better solar 
intensity equations that can be used at any location. There will also be 
collected data from energy consumption over time to recommend energy consumption
tips to save you power and money.
</p>
<p class='autobiography'>Using the website is easy and effective and takes 
little time. Here's how it works:
    <ol>
        <li>You input specifications of your solar panels</li>
        <li>You add different appliences within your home</li>
        <li>Determine if the aplliances are running all day or not</li>
        <li>The webiste then calculates whether or not you can use your
        appliences with your current power output</li>
    </ol>
</p>
<p class='autobiography'>There are several pages within the website; here
are the main ones:
    <dl>
        <dt>Panels</dt>
        <dd>Add panels with information such as the type and total power rating 
        in wattage.</dd>
        <dt>Appliances</dt>
        <dd>Add appliances based off of name, power rating, average time used 
        (min), and whether or not it is used all day.</dd>
        <dt>Can I Use?</dt>
        <dd>Select the weather based off of cloud coverage and select which 
        panels and appliances you are using. See weither or not the appliances
        can be used based on your current power supply.</dd>
        <dt>Analysis</dt>
        <dd>This page is not yet created but our goal for it is to add a 
        program which calculates recommendations of future appliance usage
        based off of the future weather conditions.</dd>
        <dt>How It Works</dt>
        <dd>This is a basic lesson with photos of how the website works and 
        calculates the results.
        </dd>
    </dl>