<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <FONT COLOR="#FF00FF">
    This is the ABOUT page that I have out here!
    Sample Application for the Tutorial!
  </FONT>
  
  <FONT COLOR="#0000FF">
  Sono un ragazzo poco pazzerello, ho passato qualche oretta davanti al pc
  e le righe che ho scritto sono ben più di quelle che dovrebbero essere.
  <br></br>
  Come disse GheddaPHi: "Mi ritrovo con talmente tanti soldi che potrei
  persino comprarmi un bellissimo:
  </FONT>
  <br></br>
  <a href="https://www.facebook.com/andrea.fabbian.7?fref=ts">Ragazzo</a>
</p>