<% provide(:title, "Analysis") %>


<h1>Coming soon..!</h1>

<p>
  This is the page that contains all future implementation ideas. Some of the 
  features we would like to add in the future are:
  <ul>
      <li>Factor in the change in efficiency caused by humidity and temperature</li>
      <li>Create better solar intensity formula based on latitude, longitude, 
      and azimuth </li>
      <li>Setup the ability to create an account.</li>
      <li>A way to optimize power usage</li>
      <li>Show graphs for general and individual usage</li>
  </ul>
</p>