<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <h4>
    Our team components and roles:
  </h4>
  
  <h4>
    <a href="http://www.facebook.com/francesco.mikulisborsoi">
    Francesco Alessandro Stefano Mikulis-Borsoi</a> 
  </h4>
  
  <h4>
    <a href="http://www.facebook.com/jackson.lucier">
    Jackson Lucier</a> 
  </h4>
  
  <h4>
    <a href="http://www.facebook.com/profile.php?id=100012058952833">
    Kristian Comer</a> 
  </h4>
  
  <h4>
    <a href="http://www.facebook.com/MonkeytoadV2">
    Charlie Nitschelm</a> 
  </h4>
  
  <h4>
    <a href="http://www.facebook.com/danesposito">
    Dan Esposito</a> 
  </h4>
  
</p>
