<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <FONT COLOR="#FF0000">Contact me at my FB page</FONT>
  <a href="https://www.facebook.com/francesco.mikulisborsoi">
    Francesco Alessandro Stefano Mikulis-Borsoi </a> 
</p>
