<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <table class="ContactTable">
    <thead>
      <th class="dd">Name</th>
      <th class="dd">Field</th>
    </thead>
    <tbody>
      <tr class="altCol">
        <td class="dd"><a href=
        "https://www.linkedin.com/in/dan-esposito-2a620516/">
        Dan Esposito</a></td>
        <td class="dd">Mechanical Engineer</td>
      </tr>
      <tr>
        <td class="dd"><a href="https://www.linkedin.com/in/fasmb/">
         Francesco A S Mikulis-Borsoi</a></td>
        <td class="dd">Computer Scientist</td>
      </tr>
      <tr class="altCol">
        <td class="dd"><a href="https://www.linkedin.com/in/jacksonlucier/">
        Jackson Lucier</a> </td>
        <td class="dd">Computer Scientist</td>
      </tr>
      <tr>
        <td class="dd"><a href=
        "https://www.linkedin.com/in/kristian-comer-202582133/">
        Kristian Comer</a></td>
        <td class="dd">Computer Scientist</td>
      </tr>
      <tr class="altCol">
        <td class="dd"><a href="https://www.linkedin.com/in/cjnitschelm/">
        Charlie Nitschelm</a></td>
        <td class="dd">Mechanical Engineer</td>
      </tr>
    </tbody>
  </table>
</p>
