<% provide(:title, "Esercizi informatica") %>

<h1> In questa pagina si possono trovare i relativi esercizi consigliati da svolgere per il recupero del programma di informatica </h1>

<p>
<b>1.</b><br>
<b>a.</b> Programma che prende a input un valore (integer) e lo ritorna a schermo.<br>
<b>b.</b> Programma che prende a input due integer e ritorna a schermo la somma.<br>
<b>c.</b> Programma che prende due numeri integer a input, genera un terzo random, mostra il terzo a schermo, e poi dice all'utente qual'è il maggiore dei 3.<br>
<b>d.</b> Programma che prende due numeri integer da utente e anche un booleano, nel caso di booleano = true allora restituisce la somma, altrimenti la differenza.<br>
<b>e.</b> Programma che dato da utente le due basi e l'altezza di un trapezio ne calcola l'area E PERIMETRO (devi prima calcolarti i 2 lati obliqui!).<br>
</p>

<br>

<p>
<b>2.</b><br>
<b>a.</b> Programma che da un numero inserito da utente ne calcola il quadrato con la funzione predefinita Sqr().<br>
<b>b.</b> Programma che controlla se un numero inserito da utente è maggiore di zero, se è negativo restituisce a schermo il suo Abs() ovvero valore assoluto.<br>
<b>c.</b> Programma che controlla se il numero inserito da utente ha una radice quadrata (>0) e se la ha deve essere scritta a schermo.<br>
<b>d.</b> Programma che prende due numeri inseriti da utente, se negativi ne fa i valori assoluti, e calcola la radice con sqrt() del loro prodotto.<br>
<b>e.</b> Programma che dati 3 numeri inseriti da utente controlla se corrispondono ad una terna pitagorica, ovvero dati a, b, c crescenti, c = sqrt(a^2+b^2).<br>
</p>
