<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <FONT COLOR="#FF00FF">
    I am currently developing the app!
  </FONT>
</p>

<%#= form_tag locations_path, :method => :get do %>
  <p><%#= hidden_field_tag :latitude %>
     <%#= hidden_field_tag :longitude %>
     <%#= submit_tag "Search ME", :name => nil %>
  </p>
<%# end %>



<html>
  <script>
if (navigator.geolocation) {
   var timeoutVal = 10 * 1000 * 1000;
   navigator.geolocation.getCurrentPosition(
     displayPosition, 
     displayError,
     { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
   );
 } else {
   alert("Geolocation is not supported by this browser");
 }

 function displayPosition(position) {
   //alert("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);
   $('input[name="latitude"]').val(position.coords.latitude);
   $('input[name="longitude"]').val(position.coords.longitude);
 }
 

 function displayError(error) {
   var errors = { 
     1: 'Permission denied',
     2: 'Position unavailable',
     3: 'Request timeout'
   };
   alert("Error: " + errors[error.code]);
 }
 </script>
</html>