<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <FONT COLOR="#FF0000">Get help on my Facebook page</FONT>
  <a href="https://www.facebook.com/francesco.mikulisborsoi">
    Francesco Alessandro Stefano Mikulis-Borsoi </a> 
</p>
