<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  This is the home page for Francesco's Work of Today!! <br></br>
  
  The following text will take you to my
  <a href="https://rails-tutorial-francescomikulis.c9.io/static_pages/about">about</a>
  page of my first sample application. <br></br>
  
  The following text will take you to my
  <a href="https://rails-tutorial-francescomikulis.c9.io/static_pages/help">help</a>
  page of my first sample application.
</p>