<%# provide(:title, "Home") %>
<!-- background: url('assetts/Mars.jpg') no-repeat center center fixed; -->
<style>
    body {
      color:white;
      background: url('https://lh3.googleusercontent.com/_kznd4vp3EWGxHPILdWxO71zOwFHgrp2J7Lb1KmLMNstf5VA8wLkO7Z0vpj1KUhVolGSNSAsNpMfHZHBcP5p6dZ9_I0NT_abzivgIVMce5Fejw7VER9dwAlUnasY6_14nE0FJ_rC3YV7yXbGlnAcp4RR-S7q771d5_DrRqwlu6fXZpwHtCvA0f40msVXqea4SHNFGw_ZBaTug01i5DVR-TClBgCtNsjfvvA4bkDJPIqigd-mc8jrBCqGUxbshwHOke6EosLnu1ldno6BBfC-H3UBtjLHHcblf7LXnxFnZcPBrUSsDX8gp9fYyo9ZqDt0oXFocEbHYgMAZEKMEtWkKBy4hbBlynOJ6gs8KDqgbNJzZIxQJxlRVqLd5hs8AT4sFWYyHjhOUUWTiaU7hIRqJLSgmfKm9W4T7VYXVDlntXfWHBAnx8sT64EPP-puK_ncPZc3kGJPYmcjnYsg4Qig4GDfdCYr4ZE-D07r7uDN4WGE0hiXLx8opN7ryb_4ZErhS-gxEQSZ1sbRlvv6cP5fjttQ5_0VF9PzCJBqStgFbSupoUSwuMrq7a7HfYPMybSYHpfxSPcoCs5-Y_eiR5TgaeyKbQd22rsSktRdaeHVtyyPkVS-l4psn0V7-g7z7lBHbRahUZZRvMvav4_y4QrNZ1MmKlam0ArqRYEvISCO1H4=w2512-h1606-no') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .navbar-inverse, .footer {
      background-color:rgba(0,0,0,.3);
    };
    
    @media only screen and (max-width: 1000px) {
      body {
        background-size: canvas;
      }
    }
</style>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="user_info">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center">
    <div class="row center">
      <h1 class="white_shadow center">Welcome to Solar Vision</h1>
      <%#= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %>
      <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <h2 class="center bold white_shadow">
        Our Vision: Your Reality!
      </h2>
    </div>
  </div>
  
  
  <div class="row center">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4">
        <a class="btn btn-info btn-lg index_panel home_panel" href="/panels.html">
            Panels
        </a>
    </div>
    <div class="col-md-4"></div>
  </div>
    
  <div class="row center">
    <div class="col-md-4"></div>
      <div class="col-xs-12 col-md-4">
        <a class="btn btn-info btn-lg index_panel home_panel" href="/appliances.html">
            Appliances
        </a>
      </div>
    <div class="col-md-4"></div>
  </div>
    
  <div class="row center">
    <div class="col-md-4"></div>
      <div class="col-xs-12 col-md-4">
        <a class="btn btn-info btn-lg index_panel home_panel" href="/caniuse.html">
            Can I Use?
        </a>
      </div>
    <div class="col-md-4"></div>
  </div>
    
  <div class="row center">
    <div class="col-md-4"></div>
      <div class="col-xs-12 col-md-4">
        <a class="btn btn-info btn-lg index_panel home_panel" href="/analysis.html">
            Analysis
        </a>
      </div>
    <div class="col-md-4"></div>
  </div>
    
  <div class="row center">
    <div class="col-md-4"></div>
      <div class="col-xs-12 col-md-4">
        <a class="btn btn-info btn-lg index_panel home_panel center" href="/howitworks.html">
            How It Works
        </a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
  
  
<% end %>