<% provide(:title, "") %>
<h1>Home</h1>
<p>
  <FONT COLOR="#FF0000">This is the HOME page for Francesco's Work of</FONT>
  <FONT COLOR="#0000FF">Today</FONT>
  <FONT COLOR="#FF0000">!!</FONT>
  <br></br>
  
  <FONT COLOR="#00FF00">The following text will take you to my</FONT>
  <a href="http://still-basin-8518.herokuapp.com/static_pages/about">about</a>
  <FONT COLOR="#00FFFF">page of my first sample application.</FONT>
  <br></br>
  
  <FONT COLOR="#993300">The following text will take you to my</FONT>
  <a href="http://still-basin-8518.herokuapp.com/static_pages/help">help</a>
  <FONT COLOR="#FF00FF">page of my first sample application.</FONT>
</p>