<% provide(:title, "My Account") %>

<h1> Our project: </h1>

<div class="row center">
    <div class="col-xs-12 col-md-6">
        <a class="btn btn-info btn-lg index_panel" href="/panels.html">
            Panels
        </a>
    </div>
    
    <div class="col-xs-12 col-md-6">
        <a class="btn btn-info btn-lg index_panel" href="/appliances.html">
            Appliances
        </a>
    </div>
    
    <div class="col-xs-12 col-md-6 ">
        <a class="btn btn-info btn-lg index_panel" href="/caniuse.html">
            Can I Use?
        </a>
    </div>
    
    <div class="col-xs-12 col-md-6 ">
        <a class="btn btn-info btn-lg index_panel" href="/analysis.html">
            Analysis
        </a>
    </div>
    
    <div class="col-md-3">
    </div>
    
    <div class="col-xs-12 col-md-6 center">
        <a class="btn btn-info btn-lg index_panel center" href="/howitworks.html">
            How It Works
        </a>
    </div>
</div>

<div> </br> </div>

