<% provide(:title, "Solar Vision") %>

<h1> Our project: </h1>

<div class="center jumbotron">    
    <div class="col-xs-6 col-md-6 left">
        <a class="btn btn-info btn-lg" href="/panels.html">
            Panels
        </a>
    </div>
    
    <div class="col-xs-6 col-md-6 right">
        <a class="btn btn-info btn-lg" href="/appliances.html">
            Appliances
        </a>
    </div>
    
    <div class="col-xs-6 col-md-6 left">
        <a class="btn btn-info btn-lg" href="/caniuse.html">
            Can I Use?
        </a>
    </div>
    
    <div class="col-xs-6 col-md-6 right">
        <a class="btn btn-info btn-lg" href="/analysis.html">
            Analysis
        </a>
    </div>
</div>

