<% provide(:title, "Programma recupero") %>

<h1>
	Questo è l'elenco del programma estivo che consiglio ai ragazzi che abbiano preso debito
	nella materia di informatica durante il secondo anno del liceo scientifico scienze applicate.
</h1>

<p>
<b>1.</b> Input/Output, 5 programmi con l'utilizzo delle diverse tipologie di dati.<br>
<b>2.</b> Output di calcolo con utilizzo Sqr() Sqrt() Abs(). 5 programmi.<br>
<b>3.</b> If/else condizioni AND OR NOT DIV MOD. Ciclo while.4 programmi (2 if e 2 while).<br>
<b>4.</b> Do.. While() || Repeat.. Until() || For(). 6 programmi (2 per tipo).<br>
<b>5.</b> Array. Creazione, caricamento autente/random, Visualizzazione e Bubble Sort. 3 programmi.<br>
<b>6.</b> Array. Minimo, massimo, somma, media. Con utilizzo indici per risposta. 4 programmi.<br>
<b>7.</b> Array. Calcolo frequenza uscita numero x. 2 programmi.
Matrici. Creazione, caricamento utente/random, visualizzazione. Minimo, massimo, somma, media.
Con calcoli anche su singole righe della matrice. (es val max riga 3). Fare 4 programmi.<br>
<b>8.</b> RECORD. Caricamento, visualizzazione e ordinamento (spostare le colonne o righe) 3 programmi.<br>
<b>9.</b> Variabili LOCALI e GLOBALI. Utilizzo procedure SENZA parametri agendo su variabili globali. 8 programmi.<br>
<b>10.</b> Procedure con parametri. 8 programmi.<br>
Extra:
Conoscenza necessaria da acquisire:<br>
 - Ordinamento Matrici a Righe, Colonne o Serpentina. 1 esercizio per tipologia.<br>
 - Matrici diagonali e simmetriche, comprensione del significato, 1 esercizio per tipologia.<br>
</p>