<% provide(:title, "Edit Appliance") %>

<h1>Editing Appliance</h1>

<%= render 'form' %>

<div class="center">
    <%= link_to 'Show', @appliance %> |
    <%= link_to 'Back', appliances_path %>
</div>
