<% provide(:title, "New Panel") %>
<body class="background-solar-panel">
  <div class="PanelsPage">
    <h1>New Panel</h1>
    
    <%= render 'form' %>
    
    <div class="center">
        <%= link_to 'Back', panels_path %>
    </div>
  </div>
</body>
