<p> This page will have no text but will cleanup the database
  of all the users that, passed the 2 hours, haven't activated the account.
  The algorithm passed all the database to be sure that there are no accounts
  that were not activated in the past 2 hours
  <br></br>
  --> This should become an automatic task! >-- </p>