<footer class="footer">
  <div class="col-xs-6 col-md-6 left">
    <a class="btn btn-success btn-sm" href="https://2017.spaceappschallenge.org/challenges/earth-and-us/you-are-my-sunshine/teams/solarvision/stream">
      Our nasa challenger app page.
    </a>
  </div>
  
  <div class="col-xs-6 col-md-6 right">
    <a class="btn btn-success btn-sm" href="/about">
      About
    </a>
    <a class="btn btn-success btn-sm" href="/contact">
      Contact
    </a>
  </div>
</footer>