<footer class="footer">
  <small>
    The <a href="http://youtube.com">YouTube</a> page.
    App created by <a href="http://francescomikulis.com">Francesco Mikulis</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",'#' %></li>
      <li><%= link_to "Contact",'#' %></li>
      <li><a href="http://yahoo.com">Yahoo-News</a></li>
    </ul>
  </nav>
</footer>