</div>

<footer class="footer">
  
  <div class="col-xs-6 left">
    <a class="btn btn-success btn-sm" href="https://2017.spaceappschallenge.org/challenges/earth-and-us/you-are-my-sunshine/teams/solarvision/stream">
      NASA Challenger Page
    </a>
  </div>
  
  <div class=" col-xs-6 right">
    <a class="btn btn-success btn-sm" href="/about">
      About
    </a>
    <a class="btn btn-success btn-sm" href="/contact">
      Contact
    </a>
  </div>
  
</footer>